<div class="connect-container">
  <div class="connect-panel">
    <img src="assets/images/avatar.png" />
    <form [formGroup]="form" class="connect-form" (ngSubmit)="connect(this.form.value)" novalidate>
      <div class="form-group">
        <span class="room-random" (click)="generateRoom()">Generate random room id</span>
        <input type="text" class="form-control" placeholder="Room" formControlName="room" />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" formControlName="name" />
      </div>
      <div class="form-group">
        <button class="btn btn-info" role="button" type="submit" [disabled]="form.invalid">Connect</button>
      </div>
    </form>
  </div>
</div>