<div class="connect-container">
  <div class="connect-panel">
    <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" />
    <form [formGroup]="form" class="connect-form" (ngSubmit)="connect(this.form.value)" novalidate>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" formControlName="name" />
      </div>
      <div class="form-group">
        <button class="btn btn-info" role="button" type="submit" [disabled]="form.invalid">Connect</button>
      </div>
    </form>
  </div>
</div>